# Node modules
node_modules/
data/
# Environment variables
.env
seeder.js
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build / temp files
dist/
build/
.tmp/
coverage/

# VSCode settings (optional)
.vscode/
